*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: 2px solid red;
  position: relative;
}
@media (min-width: 730px) {
  .header {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

.header__icon_wrap {
  width: 150px;
}
@media (min-width: 743px) {
  .header__icon_wrap {
    margin-left: 25px;
  }
}

.header__navigation_list {
  display: none;
}
.header__navigation_list a {
  display: block;
  border: 1px solid black;
  padding: 8px 10px;
  background-color: #d9d9d9;
  text-decoration: none;
  color: black;
}
.header__navigation_list ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.header__navigation_list ul li:last-of-type {
  margin-right: 20px;
}
@media (min-width: 730px) {
  .header__navigation_list {
    display: block;
  }
}

.header__hamburger_nav_icon {
  position: absolute;
  left: 25px;
}
@media (min-width: 730px) {
  .header__hamburger_nav_icon {
    display: none;
  }
}
.header__hamburger_nav_icon:hover .header__hamburger-line {
  position: relative;
}
.header__hamburger_nav_icon:hover .header__hamburger-line.two {
  transform: translateX(-20em);
}
.header__hamburger_nav_icon:hover .header__hamburger-line.one {
  transform: rotate(135deg);
}
.header__hamburger_nav_icon:hover .header__hamburger-line.three {
  transform: rotate(-135deg);
  top: -25px;
}
.header__hamburger_nav_icon .header__hamburger-line {
  transition: all 1s;
}

.header__line_break {
  flex-basis: 100%;
}
@media (min-width: 730px) {
  .header__line_break {
    display: none;
  }
}

#header__search_form {
  margin: 10px 0;
  flex-basis: 90%;
  max-width: 450px;
  min-width: 335px;
}
#header__search_form input {
  width: 100%;
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
}
@media (min-width: 730px) {
  #header__search_form {
    display: none;
  }
}

.header__hamburger_nav_icon .header__hamburger-line {
  width: 50px;
  height: 2px;
  background-color: black;
}
.header__hamburger_nav_icon .header__hamburger-line + .header__hamburger-line {
  margin-top: 10px;
}

.footer__small button {
  background-color: #9cc1b4;
  color: white;
  width: 90%;
  display: block;
  margin: 10px auto;
  border: none;
  padding: 10px 0;
}
.footer__small_text_wrap {
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__small_text_wrap h2 {
  color: #9cc1b4;
  padding-top: 16px;
  margin-bottom: 16px;
}
.footer__small_text_wrap ul {
  list-style-type: none;
  margin-bottom: 2rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer__small_text_wrap ul li {
  width: 50px;
}
.footer__small_text_wrap ul a {
  display: block;
}

/*# sourceMappingURL=styles.css.map */
